* {
    transition: all .1s ease-in;
}

body {
    width: 100%;
    height: 150%;
    font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
    background-color:  #2b81ac;
}

main {
    width: 95%;
    height: 90%;
    margin: 20px;
    font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
    background-color: #3399cc;
    padding-top: 10px;
}

header {
    color: #fff;
    font-size: 24px;
    margin-left: 175px;

}

ul {
    width: 70%;
    list-style: none;
    text-align: center;
    font-size: 0;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #fff;
    background-color: #fff;
    
}

li {
    display: inline-block;
    box-sizing: border-box;
    border: 3px solid #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 24px;
    color: #fff;
    line-height: 40px;
}

.list-lisbon {
    width: 50%;
    background-color: #3399cc;
}

.list-paris {
    width: 25%;
    background-color: #33cccc;
}

.list-belgrade {
    width: 25%;
    background-color: #996699;
}

.list-kyiv {
    width: 25%;
    background-image: linear-gradient(#0000ff, #ffff00);
}

.list-tel-aviv {
    width: 25%;
    background-color: #e2674a;
}

.list-cair {
    width: 25%;
    background-color: #ffcc66;
}

.list-new-york {
    width: 25%;
    background-color: #99cc99;
    
}

.list-new-delhi {
    width: 25%;
    background-color: #669999;
    
}

.list-san-francisco {
    width: 50%;
    background-color: #cc6699;
    
}

.list-tokyo {
    width: 25%;
    background-color: #339966;
    
}

.list-sydney{
    width: 100%;
    background-color: #666699;
}

footer {
    margin-top: 20px;
    margin-left: 175px;
    color: #fff;
    font-size: 20px;
    padding-bottom: 40px;
}

ul:hover li:not(:hover) {
    opacity: 0.3;    
} 

.mark-shadow {
    color: #fff;
    opacity: 0.5;
}

.mark-header {
    padding-left: 20px;
}





